#encabezado {
    max-width: 2866px;
    min-width: 800px;
    height: 120px;
    margin: 0px;
    background-image: url(../Imagenes/Fondo/SPPTBanner.png) !important;
    background-position:  center !important;
    background-repeat: no-repeat !important;
    background-size:100% 100%;
}
#contenido {
    max-width: 2866px;
    min-width: 800px;
    max-height: 1058px;
    min-height: 505px;
    background-image: url(../Imagenes/Fondo/FondoGeneral.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
}

.logo {
    margin: auto;
    float: initial;
    text-align: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


